body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: teal;
}

h1 {
  font-size: 13rem;
  font-family: 'Montserrat', sans-serif;
}

.letter {
  transition: color 1000ms;
  -webkit-transition: color 1000ms;
  -moz-transition: color 1000ms;
  -ms-transition: color 1000ms;
  -o-transition: color 1000ms;
}
